{
	extends: "stylelint-config-standard",
	rules: {
		"declaration-no-important": true,
		"declaration-empty-line-before": null,
		"indentation": "tab",
		"at-rule-no-unknown": [true, {
			"ignoreAtRules": ["include", "mixin"]
		}]
	}
}
