<form autocomplete="off" novalidate class="lesson-form">
	<div class="lesson-form-description">
		<md-form-field class="lesson-form-description__field">
			<input mdInput placeholder="Description" value="{{initialValue.description}}">
		</md-form-field>
	</div>
	<div class="lesson-form-duration">
		<md-form-field class="lesson-form-duration__field">
			<input mdInput placeholder="Duration" disabled value="{{initialValue.duration}}">
		</md-form-field>
	</div>
	<div class="lesson-form-longdesc">
		<md-form-field class="lesson-form-longdesc__field">
			<input mdInput placeholder="Duration" disabled value="{{initialValue.longDescription}}">
		</md-form-field>
	</div>
	<div class="lesson-form-tags">
		<md-form-field class="lesson-form-tags__field">
			<input mdInput placeholder="Tags" disabled value="{{initialValue.tags}}">
		</md-form-field>
	</div>
	<div class="lesson-form-url">
		<md-form-field class="lesson-form-url__field">
			<input mdInput placeholder="Url" disabled value="{{initialValue.url}}">
		</md-form-field>
	</div>
</form>
