@import './course-variables';

@mixin box-shadow() {
	-webkit-box-shadow: 1px 1px 18px 4px rgba(57, 50, 50, 0.43);
	-moz-box-shadow: 1px 1px 18px 4px rgba(57, 50, 50, 0.43);
	box-shadow: 1px 1px 18px 4px rgba(57, 50, 50, 0.43);
}
