// fonts

$font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size-default: 14px;
$font-size-header: 20px;
$font-size-footer: 15px;

// colors : default

$primary-dark-color: #000;
$primary-background-color: #fff;
$course-list-header-background-color: #eef2f9;
$default-border-color: #eef2f9;

// width / height

$default-container-height: 100vh;
$course-list-item-height: 70px;
$course-list-min-width: 900px;

// margin / padding

$default-margin-width: 20px;
$default-border-radius: 3px;
