@import './course-mixins';

#course-list {
	.mat-card {
		padding: 0;
	}

	.mat-card-title {
		margin-bottom: 0;
	}

	.mat-list {
		position: relative;

		height: 100%;
	}

	.mat-list-item-content {
		height: $course-list-item-height;

		&:hover {
			cursor: pointer;
			transform: scale(1.05);

			border-radius: $default-border-radius;
			background-color: $primary-background-color;

			@include box-shadow();
		}
	}

	.mat-card-footer {
		margin: 0;
		padding: 0 10px 10px;
	}
}
