<div class="course-list-item-container" id="course-list">
	<md-card class="course-list-item mat-elevation-z2">
		<md-card-title class="course-list-item__header">
			<img src="{{topic.iconUrl}}" class="course-list-item__header-icon" alt="{{topic.name}}">
			<span class="course-list-item__header-text">{{topic.name}}</span>
		</md-card-title>
		<md-card-content class="course-list-item__content">
			<md-list>
				<md-list-item *ngFor="let course of courseList" class="course-list-item__content-course-item"
					(click)="onCourseSelect(course)">
					<course-item [data]="course"></course-item>
				</md-list-item>
			</md-list>
		</md-card-content>
		<md-card-footer class="course-list-item__footer">
			<md-icon>access_time</md-icon>
			<span class="course-list-item__footer-timer">{{topic.totalDuration}}</span>
		</md-card-footer>
	</md-card>
</div>
