@import '../../../styles/course-variables';
@import '../../../styles/course-mixins';

.course-list-item-container {
	width: 350px;
	height: 400px;
	margin: $default-margin-width;

	border-radius: $default-border-radius;
}

.course-list-item {
	position: relative;

	box-sizing: border-box;
	height: 100%;
}

.course-list-item__header {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	box-sizing: inherit;
	height: $course-list-item-height;
	padding: 10px;

	background: $course-list-header-background-color;

	&-icon {
		width: 30px;
		height: 30px;
		padding: 10px;
	}

	&-text {
		font-weight: 600;
		padding: 10px;
	}
}

.course-list-item__content {
	height: calc(100% - 102px);

	&-course-item {
		padding-top: 5px;

		border-bottom: 1px solid $default-border-color;
	}
}
