<div class="lesson-list-item-container mat-elevation-z2" id="lesson-list">
	<md-list>
		<md-list-item *ngFor="let lesson of lessons | async" class="lesson-list-item__content-container">
			<div class="lesson-list-item__content-title">
				<span class="lesson-list-item__content-title-text">{{lesson.description}}</span>
			</div>
			<div class="lesson-list-item__content-duration">
				<md-icon>access_time</md-icon>
				<span class="lesson-list-item__content-duration-text">{{lesson?.duration}}</span>
			</div>
		</md-list-item>
	</md-list>
</div>
