<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title><%=htmlWebpackPlugin.options.title%></title>
	</head>
	<body>
		<admin-app>Loading...</admin-app>
	</body>
</html>
