@import '../../styles/course-variables';

.home-container {
	display: flex;
	align-items: flex-start;
	flex-flow: row nowrap;
	justify-content: flex-start;

	box-sizing: border-box;
	height: calc(100vh - 64px);
}

.course-list-container {
	position: relative;

	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	justify-content: space-between;

	box-sizing: inherit;
	width: $course-list-min-width;
	height: 100%;
	margin: 0 $default-margin-width;
	padding: $default-padding-width 0;
}

.lesson-list-container {
	position: relative;

	display: flex;
	align-items: flex-start;
	flex-flow: row nowrap;
	justify-content: flex-start;

	box-sizing: inherit;
	min-width: $lesson-list-min-width;
	margin: 40px $default-margin-width $default-margin-width;
}
